.catalogContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.banner {
  width: 100%;
  height: 200px;
  background-image: url('@/assets/banner1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.productsContainerPlusAside {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
  box-sizing: border-box;
}

aside {
  top: 200px;
  align-self: flex-start;
  width: 200px;
  padding: 20px;
  background-color: #f4f4f4;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.category {
  font-size: 15px;
  font-weight: 550;
  color: rgba(3, 14, 6, 0.699);
  cursor: pointer;
}

.chosenCategory {
  color: var(--accent-color);
}

.productsPlusLoadMore {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  width: calc(100% - 240px);
}

.productsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  justify-content: center;
  color: rgba(3, 14, 6, 0.2);
}

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px;
  padding: 10px;
  color: var(--text-color);
  border: 1px solid rgba(197, 190, 190, 0.384);
  border-radius: 5px;
  cursor: pointer;
}

.productCard:hover {
  background-color: rgba(218, 223, 219, 0.5);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.productCard img {
  margin-bottom: 7px;
  border-radius: 5px;
}

.productName {
  font-size: large;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.8px;
  color: var(--text-color);
}

.productInfoBrief {
  font-size: small;
  text-align: center;
  color: var(--text-color);
}

.priceDiv {
  margin-top: 10px;
}

.crossedOut {
  text-decoration: line-through;
}

.discountPrice {
  color: green;
}

.catalogButton {
  height: 30px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: var(--accent-color);
  background-color: var(--main-bg-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  cursor: pointer;
}

.catalogButton:hover {
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.addToCartButton {
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.addToCartButton:hover {
  color: var(--accent-color);
  background-color: var(--main-bg-color);
  border: 1px solid var(--accent-color);
}

.alreadyInCart,
.alreadyInCart:hover {
  opacity: 0.5;
  cursor: none;
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.priceAndAddToCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.catalogInput {
  width: 50px;
  height: 25px;
  font-size: small;
  font-weight: bold;
  color: var(--text-color);
  border: 1px solid var(--light-border-color);
  border-radius: 3px;
}

.catalogSelect {
  height: 10px;
  width: 50px;
  font-size: small;
  font-weight: bold;
  color: var(--text-color);
  border: 1px solid var(--light-border-color);
  border-radius: 3px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.catalogSelect {
  width: 150px;
}

.filterByPriceInputWrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 5px;
}

.CatalogAsideTitle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--accent-color);
}

.chosen {
  background-color: rgba(37, 136, 70, 0.2);
  border: 1px solid var(--accent-color);
}

.breadcrumb {
  font-size: 14px;
  font-weight: 600;
  color: rgba(10, 10, 10, 0.5);
  cursor: pointer;
}

.breadcrumb:hover {
  color: var(--accent-color);
}

.breadcrumbsContainer {
  height: 20px;
  padding: 10px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(10, 10, 10, 0.5);
  cursor: pointer;
}

.label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
  font-size: small;
  font-weight: bolder;
  color: var(--text-color);
}

.sort {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background-color: rgba(218, 223, 219, 0.5);
  border-radius: 10px;
}

.searchDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 300px;
  height: 30px;
  padding: 4px;
  background-color: rgba(218, 223, 219, 0.5);
  border-radius: 10px;
}

.searchInput {
  width: 100%;
  height: 22px;
  font-size: medium;
  border: transparent;
  border-radius: 5px;
}

.searchButton {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.sortSearchPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  padding: 10px;
  padding-top: 10;
}

.catalogSelect {
  height: 25px;
  font-size: medium;
  font-weight: 500;
  color: rgba(10, 10, 10, 0.5);
  border: transparent;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.shown {
  display: flex;
}

.showFiltersButton {
  display: none;
  width: 50px;
  height: 50px;
  font-size: 11px;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
}

.aside.visible {
  display: block;
  min-width: 210px;
  box-sizing: border-box;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 760px) {
  .showFiltersButton {
    display: block;
  }
  .aside {
    display: none;
    position: absolute;
    top: 390px;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 2;
  }
  .productsPlusLoadMore {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .breadcrumbsContainer {
    padding-left: 7px;
  }
}
