.product-page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.base-info {
  display: flex;
  gap: 40px;
}

.image-container {
  position: relative;
  width: 50%;
  max-width: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.product-image {
  min-width: 100%;
  max-width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 50%;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.info-container {
  width: 50%;
  max-width: 600px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-name {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.short-description {
  font-size: 20px;
  color: #555;
  margin-bottom: 20px;
}

.price-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.regular-price {
  font-size: 28px;
  margin-right: 10px;
}

.discount-price {
  font-size: 28px;
  color: green;
  font-weight: bold;
}

.crossed-out {
  color: #777;
  text-decoration: line-through;
}

.detailed-info {
  max-width: 1240px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.detailed-description,
.spec {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  white-space: pre-line;
}

.noscroll {
  overflow: hidden;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
}

.modal-content {
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  max-height: 80vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.modal-carousel {
  width: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.modal-image {
  flex: 0 0 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
  object-fit: contain;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  color: black;
  cursor: pointer;
}

.modal-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 50%;
}

.prev-modal-button {
  left: 10px;
}

.next-modal-button {
  right: 10px;
}

@media screen and (max-width: 768px) {
  .base-info {
    flex-direction: column;
  }

  .image-container,
  .info-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}
