* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  width: 100%;
  height: 100%;
}
.aside-block {
  padding: 30px;
  border-right: 2px solid var(--accent-color);
}
.options-list {
  list-style-type: none;
  padding: 0;
}
.options-list-el {
  text-align: center;
}
.options-list-el:not(:first-child) {
  margin: 15px auto 0 auto;
}
.option-link,
.option-link:visited {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.2s ease-in-out;
}
.option-link:hover {
  color: var(--accent-color);
}
.link-active {
  color: var(--accent-color);
}
.profile-main-block {
  display: flex;
  padding: 30px;
}
.main-block-form {
  flex-basis: 300px;
  margin: 0 auto;
}
.inputs-wrapper,
.addresses-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.addresses-wrapper .inputs-wrapper {
  padding: 15px;
  border: 1px solid var(--text-color);
  border-radius: 15px;
}
.input-label {
  font-size: small;
}
.input {
  display: block;
  width: 100%;
  height: 30px;
  font-size: medium;
}
.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.checkbox-label {
  display: flex;
}
.checkbox {
}
.addresses-heading {
  margin: 0;
  text-align: center;
}
.profile-btn-wrapper {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 20px auto 0 auto;
}
.profile-btn {
  width: 115px;
  height: 30px;
  font-weight: 600;
  color: var(--accent-color);
  background-color: var(--main-bg-color);
  border: 1px solid var(--accent-color);
  border-radius: 2px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.profile-btn:hover {
  font-weight: 400;
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.profile-btn:disabled {
  font-weight: 400;
  color: rgb(204, 154, 125);
  background-color: var(--disabled-bg-color);
  border: 1px solid var(--disabled-border-color);
  cursor: default;
}
