:root {
  --main-bg-color: rgb(251, 252, 251);
  --main-bg-color-semi-transparent: rgba(251, 252, 251, 0.5);
  --text-color: rgb(35, 49, 37);
  --accent-color: rgb(151, 59, 17);
  --light-border-color: rgb(136, 139, 138);
  --disabled-bg-color: rgb(240, 235, 230);
  --disabled-border-color: rgb(150, 109, 91);
  --invalid-input-color: #ff0000;
  --valid-input-color: #18e418;
}

body {
  height: 100vh;
  margin: 0;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  background-color: var(--main-bg-color);
}
